
<div class="section">
  <%=form_with(model: @article, local: true) do |form| %>
      
      <div class="form__title">
        <%= form.label :title %>
        <%= form.text_field :title %>
      </div>

      <div class="form__content">
        <%= form.label :content %>
        <%= form.rich_text_area :content %>
      </div>

      <div>
        <%= form.submit %>
      </div>
      
  <%end%>
</div>